/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

:root {
  --main-color: hsl(26, 100%, 55%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* border: 1px solid #099; */
}

.container {
  margin: auto;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  height: 60px;
  box-shadow: 0 5px 5px hsl(223, 64%, 98%);
}

header div:first-child {
  display: flex;
  justify-content: space-between;
  width: fit-content;
}

header img {
  height: 25px;
  margin-right: 10px;
  cursor: pointer;
}

header [alt=logo] {
  position: relative;
}

@media (max-width: 767px) {
  header {
    justify-content: space-between;
  }

  .menu {
    position: fixed;
    height: 100vh;
    width: 0%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 999;
    transition: .5s;
  }

  .menu.active {
    width: 100%;
  }

  .menu::after {
    content: "";
    background: hsl(0, 0%, 0%);
    opacity: 75%;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
  }

  .menu img {
    position: relative;
    left: 25px;
    top: 25px;
    z-index: 5;
    cursor: pointer;
  }

  ul {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 60px;
    list-style: none;
    width: 70vw;
    height: 100vh;
    background: #fff;
    display: flex;
    flex-direction: column;
    z-index: 1;
  }

  ul li {
    cursor: pointer;
    font-size: 20px;
    width: 100%;
    padding-left: 25px;
    margin: 15px auto;
    font-weight: bold;
  }
}

@media (min-width: 768px) {
  .menu img {
    display: none;
  }

  .menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    list-style: none;
  }
}

ul li {
  margin-right: 10px;
  position: relative;
  cursor: pointer;

}

ul li:hover::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 5px;
  bottom: -23px;
  background: var(--main-color);
}

.cart {
  position: relative;
}

.cart [alt=cart] {
  position: relative;
  z-index: 3;
}

.cart::before {
  content: attr(data-count);
  border-radius: 6px;
  color: #fff;
  width: 25px;
  text-align: center;
  font-weight: bold;
  top: 0;
  right: 0;
  font-size: 16px;
  transform: translate(10%, -110%);
  position: absolute;
  background: var(--main-color);
}

.cart-container {
  position: absolute;
  width: 330px;
  height: 205px;
  /* border: 3px solid #000; */
  left: 95%;
  top: 50px;
  padding: 0 5px;
  transform: translateX(-90%) scale(0);
  background: #fff;
  border-radius: 15px;
  z-index: 2;
  transition: .3s;
}

.cart-container.active {
  transform: translateX(-90%) scale(1);
}

.cart-container p {
  font-size: 25px;
  border-bottom: 1px solid hsl(219, 9%, 45%);
  font-weight: bold;
  padding: 10px 15px;

}

.cart-container::after {
  content: "";
  display: block;
  position: absolute;
  top: -40px;
  right: 35px;
  border: 20px solid transparent;
  border-top-width: 20px;
  z-index: 1;
  border-bottom-color: var(--main-color);
}

.cart-container .content {
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(219, 9%, 45%);
  height: calc(100% - 60px);
  font-weight: bold;
}

.cart-container .content .product {
  width: 90%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}

.cart-container .content .product .btn {
  width: 100%;
}

.cart-container .content .product img {
  height: 50px;
}

.cart-container .content .product div {
  width: 100%;
  align-items: center;
}

.cart-container .content .details p:last-child span:last-child {
  color: #000;
  font-weight: bold;

}

.cart-container .content .product p span {
  padding: 5px;
}

.cart-container .content .product [alt=delete] {
  height: 20px;
}

.cart-container .content .product p {
  font-size: 16px;
  width: 90%;
  padding: 0;
  border: none;
  font-weight: 400;
}






.product_view {
  position: relative;
}

.product_view .slid {
  position: relative;
  overflow: hidden;

}

.product_view .slid img.active {
  animation: i .3s both;
}

.product_view .slid img {
  width: 100%;
  height: 300px;
  flex: none;
  position: relative;

}

@keyframes i {
  50% {
    opacity: 0;
    transform: scale(.7)
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.product_view {
  width: 100%;
}

.product_view>img {
  position: absolute;
  background: #fff;
  padding: 12px 15px;
  border-radius: 50%;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);

  cursor: pointer;
}


.product_view>[alt=next] {
  right: 0;
}

.product_view>[alt=prev] {
  left: 0;
}

@media (max-width: 767px) {
  .data {
    width: 100%;
  }
  .data{
    padding: 5px 20px;
    
  }

  .data p{
    margin: 15px 5px;
  }
  .imgs {
    display: none;
  }
}

.data p {
  font-size: 16px;
    line-height: 1.3;
}

.data p:first-child {
  color: var(--main-color);
}

.data p:last-child {
  color: hsl(219, 9%, 45%)
}

.pric {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  align-items: center;
}

.pric p:first-child {
  font-size: 30px;
  position: relative;
  color: #000;
}

.pric p:first-child::after {
  content: attr(data-discount);
  font-size: 16px;
  background: hsl(25, 100%, 94%);
  margin-left: 20px;
  position: absolute;
  top: 50%;
  right: -100%;
  transform: translate(-100%, -50%);
  padding: 3px 4px;
  border-radius: 10px;
  color: var(--main-color);
}

.pric p:last-child {
  color: hsl(219, 9%, 45%);
  text-decoration-line: line-through;
  font-size: 18px;
}

.count {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: hsl(223, 64%, 98%);
  width: 80%;
  height: 50;
  margin: 15px auto;
  border-radius: 6px;
}

.count img {
  cursor: pointer;
}

.btn {
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  margin: 15px auto;
  cursor: pointer;
  border-radius: 6px;
  color: #fff;
  border: none;
  background: var(--main-color);

}

.btn.add {
  width: 80%;
  display: block;
}

.add img {
  margin: 0 10px;
}

@media (min-width: 768px) {
  section {
    align-items: center;
    justify-content: space-around;
    display: flex;
    padding-top: 60px;

  }

  section article {
    width: 50%;
  }

  .pric {
    flex-direction: column;
    align-items: flex-start;
  }

  .product_view>img,
  header [alt=menu_icon] {
    display: none;
  }

  .product_view {
    height: 550px;
    width: 400px;
  }

  .product_view .slid img {
    height: 100%;
  }

  .product_view .slid {
    border-radius: 20px;
    height: 70%;

  }

  .imgs {
    height: 80px;
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
  }

  .imgs img {
    width: 70px;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
  }

  .imgs img.active {
    opacity: .6;
    border: 2px solid var(--main-color);
  }

  .imgs img:hover {
    opacity: .6;
  }

  .data {
    width: 70%;
    margin: 0 30px;
  }

  .data h2 {
    font-size: 35px;
  }



  .count {
    width: 30%;
  }

  .add {
    width: 65%;
  }

  .btn.add {
    width: 60%;
  }

  .add_cart {
    display: flex;
    justify-content: space-between;
  }

  section article:last-child {
    /* visibility: hidden; */
  }
}